# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.AcsGenerator.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Vaso\Projects\AcsGenerator\.idea\.idea.AcsGenerator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
